.nowrap {
  size: 8px;
  white-space: nowrap;
}

.mTop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.topInput {
  position: right;
  width: 80%;
}

.indexFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.wide {
  width: 50%;
  float: left;
}
.fixed {
  position: fixed;
}
.stump {
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 2%;
  width: 100%;
  border: 0;
  resize: none;
  box-sizing: border-box;
}
.ev {
 white-space: nowrap;
}

.ev * {
 display: inline;
}