.nowrap {
  size: 8px;
  white-space: nowrap;
}

.mTop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.topInput {
  position: right;
  width: 80%;
}

.wide {
  width: 50%;
  float: left;
}
.fixed {
  position: fixed;
}
.stump {
  height: 15%;
  padding: 0;
  margin: 2%;
  width: 30%;
  color: green;
  border: 0;
  float: left;
}
.ev {
 white-space: nowrap;
}

.ev * {
 display: inline;
}